:root {
    --main-bg-color: #0C1618;
    --main-fg-color: #F7F3E3;
    --accent-color-1: #F56476;
    --accent-color-2: #748CAB;
    --extra-color-for-something: #004643;
}

header {
    width: 100%;
    max-width: 80ch;
}

header a {
    font-style: normal;
    font-size: 1.25em;
    margin-left: 1ch;
    margin-right: 1ch;
    text-decoration: none;
}

header .title {
    font-size: 1.5em;
    flex-grow: 2;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: "Courier New", monospace;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80ch;
    padding-left: 2ch;
    padding-right: 2ch;
}

h1 {
    color: var(--accent-color-1);
    text-rendering: optimizeLegibility;
    margin-bottom: 0.8em;
    padding-bottom: 0;
}

h2 {
    color: var(--accent-color-1);
}

p {
    hyphens: auto;
    text-align: justify;
    margin-bottom: 0.5em;
    margin-top: 0;
}

a {
    color: var(--main-fg-color);
}

a:hover {
    color: var(--accent-color-2);
}

#gallery {
    line-height: 0;
    column-count: 2;
    column-gap: 30px;
}

#gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
